{% extends 'base.html' %}

{% block content %}
<main class="container py-5" >
    <section class="card card-body" >
        <h1 class="display-1 text-center" >Alion</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In iste repellat vitae perspiciatis aut molestiae vero,
            minus dolore adipisci, perferendis ipsam deserunt laboriosam assumenda ipsum commodi aspernatur et dolores at sed
            beatae? Eum quas praesentium expedita suscipit repellat ab quos porro. Aliquid fuga officia tenetur voluptatum sint
            quae eos! Corporis fugit consequuntur itaque sit, veniam ipsam velit accusamus, voluptatibus, nulla illum totam sint
            ipsum! Laudantium quas aliquid debitis sed quaerat error accusamus dolores omnis et perferendis, vitae assumenda
            odio consectetur voluptatibus repellat quae eaque iure rerum aperiam asperiores illum iste, dignissimos ex
            cupiditate. Quisquam odio consectetur voluptates cumque soluta odit.</p>

            <div class="text-center">
                <a class="btn btn-dark" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-secondary" href="/signup/">
                    Signup
                </a>
            </div>
    </section>
</main>
{% endblock %}